# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/
*.iml

# Virtual environments
venv/
ENV/
env/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs and databases
*.log
*.pot
*.mo
*.sqlite3
*.db

# Python egg metadata
*.egg-info/
*.egg

# Unit test / coverage
.coverage
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json

# Jupyter
.ipynb_checkpoints

# Distribution
build/
dist/
*.egg-info/

# Odoo specifics
*.zip
*.swp
*.bak
*.tmp
*.~*
*.~.xml
*.log
*.xlsx
*.docx
*.pdf

# Node, JS and frontend builds (for OWL)
node_modules/
*.map
npm-debug.log
yarn-error.log
/web/static/lib/
.webassets-cache/

# Certificates and secrets
*.pem
*.key
secrets.env
.env
.env.*

# System
.idea/
.vscode/
